body {
  background: gainsboro;
}

header {
  width: 100%;
  height: 75px;
  background: slategrey;
  display: flex;
  justify-content: space-between;
}

.img-container {
  width: auto;
  height: 65px;
}

img {
  width: auto;
  height: 100%;
}