body {
  background: gainsboro;
}

.flex-container {
  width: 1000px;
  height: 900px;
  background: forestgreen;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-container>div {
  width: 100px;
  height: 100px;
  background: burlywood;
}