:root {
  --main-bg-color: brown;
}

body {
  width: 100%;
  height: 100vh;
  background: cornflowerblue;
  padding: 15vh 0;
}

.outer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: limegreen;
  padding: 10vh 0;
}

.inner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: #bada55;
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  background: firebrick;
  border-radius: 50%;
  position: absolute;
}

.top {
  top: 10px;
}

.bottom {
  bottom: 10px;
}

.right {
  right: 10px;
}

.left {
  left: 10px;
}